In [2]:
import pandas as pd

In [3]:
prices_db = pd.read_csv('historic_groceries.csv')

In [4]:
prices_db

,Month,Rice,Wheat,Barley,Corn,Peanuts,Sugar,Coconut-oil,Palm-oil,Sunflower-oil,Chicken,Beef,Pork,Fish,Tea,Coffee
0,Oct-90,0.28,0.11,0.09,0.10,2.12,0.0049,0.28,0.29,0.58,0.0236,0.0571,2.5051,6.35,1.60,1.24
1,Nov-90,0.27,0.11,0.09,0.10,2.11,0.0049,0.34,0.33,0.56,0.0236,0.0558,2.4414,6.46,1.58,1.22
2,Dec-90,0.26,0.11,0.09,0.10,2.00,0.0046,0.32,0.35,0.55,0.0231,0.0562,2.3479,6.50,1.52,1.24
3,Jan-91,0.30,0.11,0.09,0.11,1.85,0.0042,0.34,0.35,0.57,0.0231,0.0571,2.6495,6.34,1.55,1.16
4,Feb-91,0.33,0.11,0.09,0.11,1.79,0.0042,0.33,0.34,0.60,0.0238,0.0602,2.3517,6.41,1.48,1.14
5,Mar-91,0.31,0.12,0.09,0.11,1.70,0.0044,0.34,0.35,0.61,0.0236,0.0571,2.4224,5.78,1.48,1.13
6,Apr-91,0.29,0.12,0.09,0.11,1.50,0.0042,0.32,0.32,0.61,0.0234,0.0575,2.3735,5.37,1.47,1.12
7,May-91,0.29,0.12,0.09,0.11,1.26,0.0037,0.34,0.32,0.60,0.0234,0.0580,2.3574,5.05,1.48,1.04
8,Jun-91,0.29,0.12,0.07,0.10,1.10,0.0044,0.37,0.31,0.56,0.0231,0.0595,2.3107,4.60,1.38,1.00
9,Jul-91,0.30,0.12,0.07,0.11,1.18,0.0051,0.46,0.34,0.58,0.0236,0.0593,2.0340,4.50,1.36,1.00
10,Aug-91,0.30,0.13,0.07,0.11,0.93,0.0046,0.46,0.34,0.60,0.0231,0.0582,1.7150,4.71,1.35,0.99
11,Sep-91,0.29,0.14,0.07,0.11,0.93,0.0044,0.46,0.32,0.61,0.0231,0.0604,1.6140,5.23,1.38,1.03
12,Oct-91,0.28,0.15,0.07,0.11,0.96,0.0044,0.55,0.34,0.57,0.0234,0.0600,1.3226,5.18,1.41,1.01
13,Nov-91,0.27,0.15,0.07,0.11,0.85,0.0042,0.60,0.36,0.54,0.0229,0.0597,1.2286,5.59,1.38,1.11
14,Dec-91,0.27,0.16,0.08,0.11,0.80,0.0044,0.64,0.38,0.55,0.0229,0.0575,1.1660,5.58,1.42,1.12
15,Jan-92,0.28,0.17,0.07,0.11,0.81,0.0040,0.74,0.38,0.62,0.0231,0.0567,1.1413,5.47,1.45,1.08
16,Feb-92,0.28,0.18,0.07,0.11,0.78,0.0037,0.70,0.38,0.63,0.0227,0.0556,1.2066,5.36,1.39,0.94
17,Mar-92,0.28,0.17,0.07,0.12,0.77,0.0040,0.64,0.40,0.66,0.0229,0.0540,1.1548,5.26,1.39,0.94
18,Apr-92,0.28,0.16,0.08,0.11,0.79,0.0046,0.65,0.40,0.69,0.0229,0.0525,1.1080,5.17,1.53,0.91
19,May-92,0.27,0.15,0.08,0.11,0.79,0.0046,0.64,0.39,0.73,0.0229,0.0525,1.4145,5.29,1.63,0.83
20,Jun-92,0.27,0.15,0.08,0.11,0.83,0.0051,0.59,0.40,0.71,0.0231,0.0514,1.3444,4.91,1.68,0.82
21,Jul-92,0.28,0.14,0.08,0.10,0.83,0.0051,0.53,0.38,0.70,0.0234,0.0518,1.3457,5.94,1.76,0.86
22,Aug-92,0.27,0.13,0.08,0.10,0.80,0.0049,0.49,0.38,0.68,0.0238,0.0540,1.4467,7.07,1.80,0.86
23,Sep-92,0.26,0.14,0.08,0.10,0.76,0.0046,0.50,0.39,0.63,0.0238,0.0538,1.1872,7.89,1.92,0.90
24,Oct-92,0.25,0.14,0.08,0.10,0.80,0.0042,0.49,0.40,0.62,0.0234,0.0551,1.1852,6.94,1.89,0.97
25,Nov-92,0.25,0.15,0.08,0.09,0.82,0.0042,0.50,0.41,0.63,0.0240,0.0560,1.2359,6.04,1.82,1.05
26,Dec-92,0.26,0.15,0.08,0.09,0.83,0.0040,0.46,0.40,0.66,0.0240,0.0560,1.1722,5.48,1.86,1.12
27,Jan-93,0.26,0.16,0.08,0.09,0.85,0.0040,0.44,0.41,0.70,0.0245,0.0518,1.3038,5.25,1.91,1.03
28,Feb-93,0.25,0.15,0.07,0.09,0.85,0.0042,0.44,0.42,0.73,0.0249,0.0527,1.3885,5.07,1.78,1.04
29,Mar-93,0.23,0.15,0.08,0.10,0.86,0.0051,0.43,0.41,0.72,0.0254,0.0558,1.4462,4.93,1.58,1.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Apr-18,0.45,0.21,0.13,0.18,1.38,0.0060,1.13,0.70,NaN,0.0520,0.0966,NaN,NaN,2.69,1.95
331,May-18,0.45,0.21,0.13,0.18,1.45,0.0060,1.03,0.69,NaN,0.0584,0.0952,NaN,NaN,2.61,1.96
332,Jun-18,0.43,0.22,0.13,0.17,1.50,0.0062,0.93,0.66,NaN,0.0600,0.0935,NaN,NaN,2.55,1.90
333,Jul-18,0.40,0.22,0.13,0.16,1.45,0.0057,0.92,0.62,NaN,0.0558,0.0924,NaN,NaN,2.49,1.86
334,Aug-18,0.40,0.24,0.13,0.16,1.41,0.0053,0.92,0.61,NaN,0.0489,0.0906,NaN,NaN,2.40,1.78
335,Sep-18,0.40,0.21,0.12,0.15,1.45,0.0055,0.90,0.61,NaN,0.0448,0.0884,NaN,NaN,2.41,1.69
336,Oct-18,0.41,0.21,0.12,0.16,1.37,0.0064,0.83,0.59,NaN,0.0448,0.0851,NaN,NaN,2.42,1.88
337,Nov-18,0.40,0.20,0.12,0.16,1.22,0.0062,0.76,0.54,NaN,0.0448,0.0871,NaN,NaN,2.36,1.84
338,Dec-18,0.40,0.21,0.12,0.17,1.21,0.0062,0.80,0.54,NaN,0.0461,0.0924,NaN,NaN,2.30,1.71
339,Jan-19,0.41,0.21,0.12,0.17,1.24,0.0062,0.77,0.58,NaN,0.0474,0.0935,NaN,NaN,2.27,1.72
340,Feb-19,0.41,0.22,0.12,0.17,1.37,0.0064,0.71,0.60,NaN,0.0461,0.0944,NaN,NaN,2.16,1.73
341,Mar-19,0.41,0.21,0.12,0.17,1.38,0.0062,0.68,0.57,NaN,0.0456,0.0988,NaN,NaN,2.13,1.70
342,Apr-19,0.41,0.20,0.14,0.16,1.32,0.0062,0.67,0.59,NaN,0.0461,0.1036,NaN,NaN,2.26,1.62
343,May-19,0.41,0.20,0.15,0.17,1.31,0.0060,0.66,0.56,NaN,0.0461,0.1014,NaN,NaN,2.39,1.57
344,Jun-19,0.42,0.21,0.15,0.20,1.32,0.0062,0.64,0.55,NaN,0.0456,0.1021,NaN,NaN,2.19,1.63
345,Jul-19,0.42,0.20,0.15,0.19,1.26,0.0062,0.66,0.54,NaN,0.0439,0.1021,NaN,NaN,2.17,1.63
346,Aug-19,0.43,0.18,0.14,0.16,1.25,0.0060,0.72,0.59,NaN,0.0419,0.1014,NaN,NaN,2.13,1.56
347,Sep-19,0.43,0.19,0.11,0.16,1.32,0.0057,0.72,0.58,NaN,0.0408,0.1025,NaN,NaN,2.21,1.56
348,Oct-19,0.42,0.20,0.11,0.17,1.36,0.0062,0.72,0.59,NaN,0.0408,0.1071,NaN,NaN,2.34,1.51
349,Nov-19,0.42,0.20,0.11,0.17,1.40,0.0062,0.85,0.69,NaN,0.0408,0.1310,NaN,NaN,2.26,1.62
350,Dec-19,0.43,0.21,0.11,0.17,1.53,0.0066,1.03,0.76,NaN,0.0437,0.1226,NaN,NaN,2.21,1.61
351,Jan-20,0.45,0.22,0.11,0.17,1.67,0.0068,1.00,0.81,NaN,0.0456,0.1111,NaN,NaN,2.29,1.56
352,Feb-20,0.45,0.22,0.11,0.17,1.72,0.0073,0.84,0.73,NaN,0.0414,0.1041,NaN,NaN,2.11,1.50
353,Mar-20,0.49,0.21,0.11,0.16,1.87,0.0057,0.84,0.64,NaN,0.0392,0.0985,NaN,NaN,1.99,1.49
354,Apr-20,0.56,0.22,0.11,0.15,2.05,0.0051,0.83,0.61,NaN,0.0280,0.0981,NaN,NaN,2.10,1.41
355,May-20,0.51,0.21,0.08,0.14,2.05,0.0053,0.83,0.58,NaN,0.0335,0.1120,NaN,NaN,1.97,1.42
356,Jun-20,0.52,0.20,0.08,0.15,2.05,0.0060,0.92,0.66,NaN,0.0346,0.1124,NaN,NaN,1.86,1.42
357,Jul-20,0.48,0.20,0.08,0.15,1.99,0.0060,0.89,0.69,NaN,0.0335,0.1036,NaN,NaN,1.78,1.49
358,Aug-20,0.50,0.20,0.08,0.15,1.30,0.0064,0.98,0.76,NaN,0.0331,0.1021,NaN,NaN,2.00,1.60
359,Sep-20,0.51,0.20,0.08,0.17,1.68,0.0062,1.03,0.80,NaN,0.0324,0.1014,NaN,NaN,2.05,1.60

# Useful Methods for the Database

In [27]:
#print(prices_db.info())
#print(prices_db.to_string())
#print(prices_db.loc[[0,1]])  # Can located by index as well. Use to replace wrong values as well
#print(prices_db.head())
#print(prices_db.tail())
#del prices_db['column_name']

"""
Determines the encoding of the file. If the file type is not UTF-8, use this to determine the encoding and 
specify the "encoding" parameter of pd.read_csv()

import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
print(result)
"""

# Database Cleaning

In [ ]:
#prices_db.dropna(inplace = True)  #WARNING: inPlace will overwrite the original dataset file.

#print(prices_db.fillna(0.0070)) # Can also replace specific columns

#print(prices_db["Fish"].mean())

#print(prices_db["Sunflower-oil"].median()) # automatically sorts values ascending before returning

#print(prices_db["Pork"].mode())

print(prices_db["Month"])

#date_fix_test = pd.to_datetime(date_fix_test['Month'])

#prices_db.dropna(subset= ["Date"], inplace = True) # subset only checks NA's in those column

#for x in df.index:
#  if df.loc[x, "Duration"] > 120:
#    df.drop(x, inplace = True)

#print(prices_db.duplicated()) # Returns True for every row that is a duplicate
#prices_db.drop_duplicates(inplace=True)

In [ ]:
fix_test = prices_db.append({"Rice": 0.50, "Wheat": 0.50, "Barley": 0.50,"Corn": 0.50,"Peanuts": 0.50,"Sugar": 0.50,"Coconut-oil": 0.50,"Palm-oil": 0.50,"Sunflower-oil": 0.50, "Chicken": 0.50, "Beef": 0.50,"Pork": 0.50,"Fish": 0.50,"Tea": 0.50, "Coffee": 0.50}, ignore_index=True)

# Correlations

In [ ]:
prices_db.corr() # calculates the relationship between each column in the dataset, air for 0.6 or higher

# Plotting

In [5]:
import matplotlib.pyplot as plt

In [5]:
#prices_db.plot(x = 'Month') # Line Graph
#prices_db.plot(kind = 'scatter', x = 'Rice', y = 'Chicken') # Scatter Plot 
prices_db["Tea"].plot(kind = 'hist')
plt.show()

# Is there a correlation between the prices of meat?

In [8]:
meat_db = prices_db[["Month", "Beef", "Pork", "Fish", "Chicken"]]

In [9]:
meat_db.tail(60) # From July 17 onwards, no more data on Pork + Fish, removing rows from dataset

      Month    Beef    Pork  Fish  Chicken
300  Oct-15  0.0935  1.5706  5.02   0.0355
301  Nov-15  0.0888  1.2573  5.02   0.0357
302  Dec-15  0.0838  1.1709  5.79   0.0384
303  Jan-16  0.0800  1.2017  6.45   0.0408
304  Feb-16  0.0851  1.3876  6.14   0.0390
305  Mar-16  0.0888  1.3984  6.91   0.0408
306  Apr-16  0.0873  1.4288  7.11   0.0425
307  May-16  0.0891  1.6312  7.27   0.0454
308  Jun-16  0.0906  1.7428  7.67   0.0474
309  Jul-16  0.0939  1.6757  8.01   0.0432
310  Aug-16  0.0935  1.4365  7.06   0.0384
311  Sep-16  0.0908  1.2943  6.67   0.0375
312  Oct-16  0.0891  1.1074  7.21   0.0351
313  Nov-16  0.0948  1.0276  7.32   0.0388
314  Dec-16  0.0913  1.1784  7.86   0.0410
315  Jan-17  0.0897  1.3530  8.64   0.0428
316  Feb-17  0.0933  1.5823  7.88   0.0428
317  Mar-17  0.0959  1.5077  7.20   0.0470
318  Apr-17  0.0972  1.3142  7.44   0.0476
319  May-17  0.1014  1.5047  8.02   0.0514
320  Jun-17  0.1032  1.8089  8.10   0.0536
321  Jul-17  0.1030     NaN   NaN   0.0518
322  Aug-17  0.0985     NaN   NaN   0.0483
323  Sep-17  0.0948     NaN   NaN   0.0465
324  Oct-17  0.0937     NaN   NaN   0.0437
325  Nov-17  0.0955     NaN   NaN   0.0432
326  Dec-17  0.0944     NaN   NaN   0.0434
327  Jan-18  0.0948     NaN   NaN   0.0456
328  Feb-18  0.0959     NaN   NaN   0.0437
329  Mar-18  0.0979     NaN   NaN   0.0485
330  Apr-18  0.0966     NaN   NaN   0.0520
331  May-18  0.0952     NaN   NaN   0.0584
332  Jun-18  0.0935     NaN   NaN   0.0600
333  Jul-18  0.0924     NaN   NaN   0.0558
334  Aug-18  0.0906     NaN   NaN   0.0489
335  Sep-18  0.0884     NaN   NaN   0.0448
336  Oct-18  0.0851     NaN   NaN   0.0448
337  Nov-18  0.0871     NaN   NaN   0.0448
338  Dec-18  0.0924     NaN   NaN   0.0461
339  Jan-19  0.0935     NaN   NaN   0.0474
340  Feb-19  0.0944     NaN   NaN   0.0461
341  Mar-19  0.0988     NaN   NaN   0.0456
342  Apr-19  0.1036     NaN   NaN   0.0461
343  May-19  0.1014     NaN   NaN   0.0461
344  Jun-19  0.1021     NaN   NaN   0.0456
345  Jul-19  0.1021     NaN   NaN   0.0439
346  Aug-19  0.1014     NaN   NaN   0.0419
347  Sep-19  0.1025     NaN   NaN   0.0408
348  Oct-19  0.1071     NaN   NaN   0.0408
349  Nov-19  0.1310     NaN   NaN   0.0408
350  Dec-19  0.1226     NaN   NaN   0.0437
351  Jan-20  0.1111     NaN   NaN   0.0456
352  Feb-20  0.1041     NaN   NaN   0.0414
353  Mar-20  0.0985     NaN   NaN   0.0392
354  Apr-20  0.0981     NaN   NaN   0.0280
355  May-20  0.1120     NaN   NaN   0.0335
356  Jun-20  0.1124     NaN   NaN   0.0346
357  Jul-20  0.1036     NaN   NaN   0.0335
358  Aug-20  0.1021     NaN   NaN   0.0331
359  Sep-20  0.1014     NaN   NaN   0.0324

In [10]:
meat_db = meat_db.dropna() # From July 17 onwards, no more data on Pork + Fish, removing rows from dataset
meat_db

      Month    Beef    Pork  Fish  Chicken
0    Oct-90  0.0571  2.5051  6.35   0.0236
1    Nov-90  0.0558  2.4414  6.46   0.0236
2    Dec-90  0.0562  2.3479  6.50   0.0231
3    Jan-91  0.0571  2.6495  6.34   0.0231
4    Feb-91  0.0602  2.3517  6.41   0.0238
5    Mar-91  0.0571  2.4224  5.78   0.0236
6    Apr-91  0.0575  2.3735  5.37   0.0234
7    May-91  0.0580  2.3574  5.05   0.0234
8    Jun-91  0.0595  2.3107  4.60   0.0231
9    Jul-91  0.0593  2.0340  4.50   0.0236
10   Aug-91  0.0582  1.7150  4.71   0.0231
11   Sep-91  0.0604  1.6140  5.23   0.0231
12   Oct-91  0.0600  1.3226  5.18   0.0234
13   Nov-91  0.0597  1.2286  5.59   0.0229
14   Dec-91  0.0575  1.1660  5.58   0.0229
15   Jan-92  0.0567  1.1413  5.47   0.0231
16   Feb-92  0.0556  1.2066  5.36   0.0227
17   Mar-92  0.0540  1.1548  5.26   0.0229
18   Apr-92  0.0525  1.1080  5.17   0.0229
19   May-92  0.0525  1.4145  5.29   0.0229
20   Jun-92  0.0514  1.3444  4.91   0.0231
21   Jul-92  0.0518  1.3457  5.94   0.0234
22   Aug-92  0.0540  1.4467  7.07   0.0238
23   Sep-92  0.0538  1.1872  7.89   0.0238
24   Oct-92  0.0551  1.1852  6.94   0.0234
25   Nov-92  0.0560  1.2359  6.04   0.0240
26   Dec-92  0.0560  1.1722  5.48   0.0240
27   Jan-93  0.0518  1.3038  5.25   0.0245
28   Feb-93  0.0527  1.3885  5.07   0.0249
29   Mar-93  0.0558  1.4462  4.93   0.0254
..      ...     ...     ...   ...      ...
291  Jan-15  0.1168  1.6094  5.95   0.0489
292  Feb-15  0.1076  1.3633  5.58   0.0448
293  Mar-15  0.1041  1.3605  5.14   0.0474
294  Apr-15  0.1063  1.3444  5.12   0.0509
295  May-15  0.0992  1.7046  5.12   0.0518
296  Jun-15  0.0979  1.7053  5.16   0.0503
297  Jul-15  0.1025  1.6744  5.29   0.0456
298  Aug-15  0.1052  1.6663  5.45   0.0401
299  Sep-15  0.1010  1.5397  5.03   0.0373
300  Oct-15  0.0935  1.5706  5.02   0.0355
301  Nov-15  0.0888  1.2573  5.02   0.0357
302  Dec-15  0.0838  1.1709  5.79   0.0384
303  Jan-16  0.0800  1.2017  6.45   0.0408
304  Feb-16  0.0851  1.3876  6.14   0.0390
305  Mar-16  0.0888  1.3984  6.91   0.0408
306  Apr-16  0.0873  1.4288  7.11   0.0425
307  May-16  0.0891  1.6312  7.27   0.0454
308  Jun-16  0.0906  1.7428  7.67   0.0474
309  Jul-16  0.0939  1.6757  8.01   0.0432
310  Aug-16  0.0935  1.4365  7.06   0.0384
311  Sep-16  0.0908  1.2943  6.67   0.0375
312  Oct-16  0.0891  1.1074  7.21   0.0351
313  Nov-16  0.0948  1.0276  7.32   0.0388
314  Dec-16  0.0913  1.1784  7.86   0.0410
315  Jan-17  0.0897  1.3530  8.64   0.0428
316  Feb-17  0.0933  1.5823  7.88   0.0428
317  Mar-17  0.0959  1.5077  7.20   0.0470
318  Apr-17  0.0972  1.3142  7.44   0.0476
319  May-17  0.1014  1.5047  8.02   0.0514
320  Jun-17  0.1032  1.8089  8.10   0.0536

[321 rows x 5 columns]

In [11]:
meat_db.corr() # significant! nearly 80% correlation!

             Beef      Pork      Fish   Chicken
Beef     1.000000  0.458650  0.670441  0.798997
Pork     0.458650  1.000000  0.387127  0.365066
Fish     0.670441  0.387127  1.000000  0.429527
Chicken  0.798997  0.365066  0.429527  1.000000

In [12]:
meat_db.plot(x = "Month")
plt.show()

NameError: name 'plt' is not defined

In [20]:
# del meat_db["Fish"], meat_db["Pork"] # Beef and Chicken are more closely correlated, continue analysis on those two
#meat_db.plot(x = "Month")
meat_db.plot(kind = "Scatter", x = "Chicken", y = "Beef")
plt.show()

** Conclusion: There is a significant correlation between the prices of chicken and beef **

# Is there a correlation between the price of farm land and any of the food?

In [37]:
farm_db_comb = pd.read_csv("Combined_Clean.csv")
farm_db_crop = pd.read_csv("Combined Data - Cropland.csv")
farm_db_real = pd.read_csv("Combined Data - Farm Real Estate.csv", encoding = 'ISO-8859-1') # Not in UTF-8
farm_db_pasture = pd.read_csv("Combined Data - Pasture.csv")

farm_db_comb.head(59)

,State,LandCategory,Region,Region or State,Year,Acre Value
0,Northeast,Farm Real Estate,Northeast,Region,1997,2240.0
1,Connecticut,Farm Real Estate,Northeast,State,1997,5950.0
2,Delaware,Farm Real Estate,Northeast,State,1997,2580.0
3,Maine,Farm Real Estate,Northeast,State,1997,1170.0
4,Maryland,Farm Real Estate,Northeast,State,1997,3150.0
5,Massachusetts,Farm Real Estate,Northeast,State,1997,5150.0
6,New Hampshire,Farm Real Estate,Northeast,State,1997,2250.0
7,New Jersey,Farm Real Estate,Northeast,State,1997,7100.0
8,New York,Farm Real Estate,Northeast,State,1997,1250.0
9,Pennsylvania,Farm Real Estate,Northeast,State,1997,2300.0
10,Rhode Island,Farm Real Estate,Northeast,State,1997,6500.0
11,Vermont,Farm Real Estate,Northeast,State,1997,1500.0
12,Lake,Farm Real Estate,Lake States,Region,1997,1200.0
13,Michigan,Farm Real Estate,Lake States,State,1997,1530.0
14,Minnesota,Farm Real Estate,Lake States,State,1997,1090.0
15,Wisconsin,Farm Real Estate,Lake States,State,1997,1170.0
16,Corn Belt,Farm Real Estate,Corn Belt,Region,1997,1610.0
17,Illinois,Farm Real Estate,Corn Belt,State,1997,1980.0
18,Indiana,Farm Real Estate,Corn Belt,State,1997,1870.0
19,Iowa,Farm Real Estate,Corn Belt,State,1997,1600.0
20,Missouri,Farm Real Estate,Corn Belt,State,1997,1010.0
21,Ohio,Farm Real Estate,Corn Belt,State,1997,1890.0
22,Northern Plains,Farm Real Estate,Northern Plains,Region,1997,481.0
23,Kansas,Farm Real Estate,Northern Plains,State,1997,565.0
24,Nebraska,Farm Real Estate,Northern Plains,State,1997,620.0
25,North Dakota,Farm Real Estate,Northern Plains,State,1997,390.0
26,South Dakota,Farm Real Estate,Northern Plains,State,1997,325.0
27,Appalachian,Farm Real Estate,Appalachian,Region,1997,1630.0
28,Kentucky,Farm Real Estate,Appalachian,State,1997,1350.0
29,North Carolina,Farm Real Estate,Appalachian,State,1997,2000.0
30,Tennessee,Farm Real Estate,Appalachian,State,1997,1650.0
31,Virginia,Farm Real Estate,Appalachian,State,1997,1880.0
32,West Virginia,Farm Real Estate,Appalachian,State,1997,1050.0
33,Southeast,Farm Real Estate,Southeast,Region,1997,1630.0
34,Alabama,Farm Real Estate,Southeast,State,1997,1360.0
35,Florida,Farm Real Estate,Southeast,State,1997,2200.0
36,Georgia,Farm Real Estate,Southeast,State,1997,1430.0
37,South Carolina,Farm Real Estate,Southeast,State,1997,1400.0
38,Delta,Farm Real Estate,Delta States,Region,1997,1070.0
39,Arkansas,Farm Real Estate,Delta States,State,1997,1070.0
40,Louisiana,Farm Real Estate,Delta States,State,1997,1190.0
41,Mississippi,Farm Real Estate,Delta States,State,1997,980.0
42,Southern Plains,Farm Real Estate,Southern Plains,Region,1997,557.0
43,Oklahoma,Farm Real Estate,Southern Plains,State,1997,570.0
44,Texas,Farm Real Estate,Southern Plains,State,1997,554.0
45,Mountain,Farm Real Estate,Mountain,Region,1997,399.0
46,Arizona,Farm Real Estate,Mountain,State,1997,920.0
47,Colorado,Farm Real Estate,Mountain,State,1997,590.0
48,Idaho,Farm Real Estate,Mountain,State,1997,960.0
49,Montana,Farm Real Estate,Mountain,State,1997,291.0
50,Nevada,Farm Real Estate,Mountain,State,1997,366.0
51,New Mexico,Farm Real Estate,Mountain,State,1997,215.0
52,Utah,Farm Real Estate,Mountain,State,1997,780.0
53,Wyoming,Farm Real Estate,Mountain,State,1997,215.0
54,Pacific,Farm Real Estate,Pacific,Region,1997,1730.0
55,California,Farm Real Estate,Pacific,State,1997,2500.0
56,Oregon,Farm Real Estate,Pacific,State,1997,960.0
57,Washington,Farm Real Estate,Pacific,State,1997,1160.0
58,United States,Farm Real Estate,Continental U.S.,Region,1997,926.0

In [70]:
# analysis

 # No Alaska, No Hawaii
farm_db_real = farm_db_comb.loc[farm_db_comb["LandCategory"] == "Farm Real Estate"] # obtains all real estate values
farm_db_avg = farm_db_real.loc[farm_db_real["Region"] == "Continental U.S."] # obtains averages between real estates
farm_db_avg = farm_db_avg.set_index(pd.Index(range(len(farm_db_avg))))
farm_db_avg

,State,LandCategory,Region,Region or State,Year,Acre Value
0,United States,Farm Real Estate,Continental U.S.,Region,1997,926.0
1,United States,Farm Real Estate,Continental U.S.,Region,1998,974.0
2,United States,Farm Real Estate,Continental U.S.,Region,1999,1020.0
3,United States,Farm Real Estate,Continental U.S.,Region,2000,1090.0
4,United States,Farm Real Estate,Continental U.S.,Region,2001,1150.0
5,United States,Farm Real Estate,Continental U.S.,Region,2002,1210.0
6,United States,Farm Real Estate,Continental U.S.,Region,2003,1270.0
7,United States,Farm Real Estate,Continental U.S.,Region,2004,1360.0
8,United States,Farm Real Estate,Continental U.S.,Region,2005,1610.0
9,United States,Farm Real Estate,Continental U.S.,Region,2006,1830.0
10,United States,Farm Real Estate,Continental U.S.,Region,2007,2010.0
11,United States,Farm Real Estate,Continental U.S.,Region,2008,2170.0
12,United States,Farm Real Estate,Continental U.S.,Region,2009,2110.0
13,United States,Farm Real Estate,Continental U.S.,Region,2010,2150.0
14,United States,Farm Real Estate,Continental U.S.,Region,2011,2300.0
15,United States,Farm Real Estate,Continental U.S.,Region,2012,2520.0
16,United States,Farm Real Estate,Continental U.S.,Region,2013,2730.0
17,United States,Farm Real Estate,Continental U.S.,Region,2014,2950.0
18,United States,Farm Real Estate,Continental U.S.,Region,2015,3020.0
19,United States,Farm Real Estate,Continental U.S.,Region,2016,3010.0
20,United States,Farm Real Estate,Continental U.S.,Region,2017,3080.0

In [74]:
time_frame = [str(i).zfill(2) for i in range(97,100)] + \
             [str(j).zfill(2) for j in range(0,18)]  # land study starts at 1997 and ends in 2017

prices_db_time = prices_db[prices_db['Month'].str[-2:].isin(time_frame)] # takes only the last two rows otherwise
# above is unnecessary but is good practice (could just change curr_db_timeframe to take from original table)

av_prices_db = pd.DataFrame(columns = ["Year", "Rice", "Wheat", "Barley", "Corn", "Peanuts", "Sugar", "Coconut-oil", \
                                       "Palm-oil", "Sunflower-oil", "Chicken", "Beef", "Pork", "Fish", "Tea", \
                                       "Coffee"])
for year in time_frame:
    curr_db_timeframe = prices_db_time[prices_db_time['Month'].str[-2:] == year]
    yearly_av = lambda x: str(round(curr_db_timeframe[x].mean(), 4))
    av_prices_db = av_prices_db.append({"Year": year, "Rice": yearly_av("Rice"), "Wheat": yearly_av("Wheat"), 
                                        "Barley": yearly_av("Barley"), "Corn": yearly_av("Corn"),
                                        "Peanuts": yearly_av("Peanuts"),"Sugar": yearly_av("Sugar"), 
                                        "Coconut-oil": yearly_av("Coconut-oil"),"Palm-oil": yearly_av("Palm-oil"), 
                                        "Sunflower-oil": yearly_av("Sunflower-oil"), "Chicken": yearly_av("Chicken"), 
                                        "Beef": yearly_av("Beef"),"Pork": yearly_av("Pork"),"Fish": yearly_av("Fish"), 
                                        "Tea": yearly_av("Tea"), "Coffee": yearly_av("Coffee")}, ignore_index=True)
av_prices_db

,Year,Rice,Wheat,Barley,Corn,Peanuts,Sugar,Coconut-oil,Palm-oil,Sunflower-oil,Chicken,Beef,Pork,Fish,Tea,Coffee
0,97,0.3025,0.1592,0.0967,0.1167,0.9875,0.0055,0.6592,0.5458,0.8375,0.0296,0.0409,1.6063,3.725,2.015,1.7367
1,98,0.305,0.1275,0.0842,0.1025,0.9892,0.0043,0.6583,0.6692,0.9558,0.0307,0.038,1.0057,3.7183,1.8992,1.8225
2,99,0.2483,0.1117,0.0767,0.0908,0.835,0.0031,0.7358,0.4358,1.4033,0.0291,0.0406,0.979,3.5692,1.8017,1.4892
3,00,0.2025,0.1158,0.0775,0.0908,0.8442,0.004,0.45,0.3108,1.2542,0.0289,0.0426,1.3071,3.645,2.03,0.9133
4,01,0.1717,0.1258,0.0933,0.0892,0.8333,0.0042,0.3183,0.285,1.19,0.031,0.0469,1.3543,2.8917,1.5175,0.6067
5,02,0.1933,0.1475,0.1092,0.0992,0.7517,0.0033,0.4208,0.39,0.9283,0.0307,0.0464,1.0418,2.9383,1.4933,0.6617
6,03,0.1992,0.1467,0.1042,0.1075,0.975,0.0034,0.4675,0.4433,0.8767,0.0322,0.0437,1.1772,2.9925,1.5442,0.8133
7,04,0.2375,0.1567,0.0992,0.1108,0.9733,0.0035,0.6608,0.4717,0.8817,0.0368,0.0554,1.5655,3.3425,1.5542,0.7933
8,05,0.2867,0.1508,0.095,0.1,0.8875,0.0048,0.6183,0.4225,0.8342,0.0359,0.0577,1.4922,4.0625,1.4783,1.1142
9,06,0.3042,0.1917,0.1167,0.1217,0.9058,0.0072,0.6067,0.4783,0.7892,0.0337,0.0561,1.4082,5.0617,1.9525,1.4883
10,07,0.3267,0.2567,0.1725,0.1633,1.2617,0.0049,0.9183,0.7792,0.7242,0.038,0.0574,1.4036,4.5433,1.6658,1.9083
11,08,0.6492,0.3267,0.2017,0.2233,1.6333,0.0062,1.2233,0.9483,0.795,0.0411,0.0692,1.4253,4.8483,2.2183,2.3208
12,09,0.5542,0.2233,0.1275,0.1642,1.16,0.0088,0.725,0.6817,nan,0.0416,0.0581,1.2297,4.9233,2.52,1.645
13,10,0.4892,0.2233,0.1592,0.1867,1.2858,0.0103,1.1225,0.9008,nan,0.0417,0.0739,1.6413,6.1425,2.5625,1.7358
14,11,0.5433,0.3183,0.2083,0.2908,2.0867,0.0126,1.7292,1.1242,nan,0.0425,0.0891,1.9635,5.9567,2.7208,2.4075
15,12,0.5633,0.3133,0.24,0.2975,2.1742,0.0105,1.1117,0.9992,nan,0.0458,0.0914,1.8254,4.7442,2.8808,2.2658
16,13,0.505,0.3133,0.2033,0.26,1.3775,0.0086,0.94,0.8558,nan,0.0479,0.0898,1.9081,6.7158,2.3992,2.0767
17,14,0.4233,0.2842,0.1458,0.1925,1.2967,0.0083,1.2783,0.8208,nan,0.0511,0.1091,2.2666,6.5983,2.045,2.2158
18,15,0.3858,0.205,0.1225,0.1692,1.305,0.0065,1.1025,0.6642,nan,0.0439,0.1006,1.4972,5.3058,2.965,1.9408
19,16,0.395,0.1658,0.1033,0.1583,1.3933,0.0088,1.4825,0.7367,nan,0.0408,0.0895,1.3759,7.14,2.42,1.9542
20,17,0.3992,0.1742,0.0967,0.1558,1.485,0.0078,1.6492,0.7517,nan,0.0468,0.0967,1.5118,7.88,2.9717,2.225

In [75]:
# Sunflower-oil doesn't have any data from 2009 - 2017, removing from study

av_prices_db = av_prices_db.drop("Sunflower-oil", axis = 1)
av_prices_db

,Year,Rice,Wheat,Barley,Corn,Peanuts,Sugar,Coconut-oil,Palm-oil,Chicken,Beef,Pork,Fish,Tea,Coffee
0,97,0.3025,0.1592,0.0967,0.1167,0.9875,0.0055,0.6592,0.5458,0.0296,0.0409,1.6063,3.725,2.015,1.7367
1,98,0.305,0.1275,0.0842,0.1025,0.9892,0.0043,0.6583,0.6692,0.0307,0.038,1.0057,3.7183,1.8992,1.8225
2,99,0.2483,0.1117,0.0767,0.0908,0.835,0.0031,0.7358,0.4358,0.0291,0.0406,0.979,3.5692,1.8017,1.4892
3,00,0.2025,0.1158,0.0775,0.0908,0.8442,0.004,0.45,0.3108,0.0289,0.0426,1.3071,3.645,2.03,0.9133
4,01,0.1717,0.1258,0.0933,0.0892,0.8333,0.0042,0.3183,0.285,0.031,0.0469,1.3543,2.8917,1.5175,0.6067
5,02,0.1933,0.1475,0.1092,0.0992,0.7517,0.0033,0.4208,0.39,0.0307,0.0464,1.0418,2.9383,1.4933,0.6617
6,03,0.1992,0.1467,0.1042,0.1075,0.975,0.0034,0.4675,0.4433,0.0322,0.0437,1.1772,2.9925,1.5442,0.8133
7,04,0.2375,0.1567,0.0992,0.1108,0.9733,0.0035,0.6608,0.4717,0.0368,0.0554,1.5655,3.3425,1.5542,0.7933
8,05,0.2867,0.1508,0.095,0.1,0.8875,0.0048,0.6183,0.4225,0.0359,0.0577,1.4922,4.0625,1.4783,1.1142
9,06,0.3042,0.1917,0.1167,0.1217,0.9058,0.0072,0.6067,0.4783,0.0337,0.0561,1.4082,5.0617,1.9525,1.4883
10,07,0.3267,0.2567,0.1725,0.1633,1.2617,0.0049,0.9183,0.7792,0.038,0.0574,1.4036,4.5433,1.6658,1.9083
11,08,0.6492,0.3267,0.2017,0.2233,1.6333,0.0062,1.2233,0.9483,0.0411,0.0692,1.4253,4.8483,2.2183,2.3208
12,09,0.5542,0.2233,0.1275,0.1642,1.16,0.0088,0.725,0.6817,0.0416,0.0581,1.2297,4.9233,2.52,1.645
13,10,0.4892,0.2233,0.1592,0.1867,1.2858,0.0103,1.1225,0.9008,0.0417,0.0739,1.6413,6.1425,2.5625,1.7358
14,11,0.5433,0.3183,0.2083,0.2908,2.0867,0.0126,1.7292,1.1242,0.0425,0.0891,1.9635,5.9567,2.7208,2.4075
15,12,0.5633,0.3133,0.24,0.2975,2.1742,0.0105,1.1117,0.9992,0.0458,0.0914,1.8254,4.7442,2.8808,2.2658
16,13,0.505,0.3133,0.2033,0.26,1.3775,0.0086,0.94,0.8558,0.0479,0.0898,1.9081,6.7158,2.3992,2.0767
17,14,0.4233,0.2842,0.1458,0.1925,1.2967,0.0083,1.2783,0.8208,0.0511,0.1091,2.2666,6.5983,2.045,2.2158
18,15,0.3858,0.205,0.1225,0.1692,1.305,0.0065,1.1025,0.6642,0.0439,0.1006,1.4972,5.3058,2.965,1.9408
19,16,0.395,0.1658,0.1033,0.1583,1.3933,0.0088,1.4825,0.7367,0.0408,0.0895,1.3759,7.14,2.42,1.9542
20,17,0.3992,0.1742,0.0967,0.1558,1.485,0.0078,1.6492,0.7517,0.0468,0.0967,1.5118,7.88,2.9717,2.225

In [122]:
# correlation and creating plot for all grains (Rice, Wheat, Barley, Corn), Peanut, and Sugar

merged_db1 = pd.DataFrame(av_prices_db, columns = ["Rice", "Wheat", "Barley", "Corn", "Peanuts", "Sugar"])
merged_db1.insert(len(merged_db1.columns), "Acre Value", farm_db_avg["Acre Value"])
merged_db1 = merged_db1.apply(lambda x: pd.to_numeric(x, errors='ignore')) # prepares database for pearson correlation
merged_db1.insert(0, "Year", av_prices_db["Year"]) # must be kept as string for plotting, readded later to avoid above
print(merged_db1.corr()) # Significant correlation between most grains, especially sugar (0.75)!


#merged_db1.plot(x = "Year", y = "Acre Value")
merged_db1.plot(x = "Year", y = "Sugar")
#merged_db1.plot(x = "Year", y = "Rice")
#merged_db1.plot(x = "Year", y = "Wheat")
#merged_db1.plot(x = "Year", y = "Barley")
#merged_db1.plot(x = "Year", y = "Corn")
#merged_db1.plot(x = "Year", y = "Peanuts")
# plots show, while there are periods of alignment, the pattern isn't completely linear (some outside influence?)
plt.show()
plt.close()

                Rice     Wheat    Barley      Corn   Peanuts     Sugar  \
Rice        1.000000  0.859009  0.794054  0.868496  0.818923  0.805797
Wheat       0.859009  1.000000  0.952263  0.933520  0.814944  0.720320
Barley      0.794054  0.952263  1.000000  0.938149  0.833304  0.685450
Corn        0.868496  0.933520  0.938149  1.000000  0.933224  0.838533
Peanuts     0.818923  0.814944  0.833304  0.933224  1.000000  0.809259
Sugar       0.805797  0.720320  0.685450  0.838533  0.809259  1.000000
Acre Value  0.668140  0.638497  0.518032  0.680024  0.670565  0.715785

            Acre Value
Rice          0.668140
Wheat         0.638497
Barley        0.518032
Corn          0.680024
Peanuts       0.670565
Sugar         0.715785
Acre Value    1.000000

In [126]:
# correlation and creating plot for all meats (Chicken, Beef, Pork, Fish)

merged_db2 = pd.DataFrame(av_prices_db, columns = ["Chicken", "Beef", "Pork", "Fish"])
merged_db2.insert(len(merged_db2.columns), "Acre Value", farm_db_avg["Acre Value"])
merged_db2 = merged_db2.apply(lambda x: pd.to_numeric(x, errors='ignore')) # prepares database for pearson correlation
merged_db2.insert(0, "Year", av_prices_db["Year"]) # must be kept as string for plotting, readded later to avoid above
print(merged_db2.corr()) # Massive correlation between acre value and chicken, beef (especially at 0.956), and fish!


merged_db2.plot(x = "Year", y = "Acre Value")
#merged_db2.plot(x = "Year", y = "Chicken")
merged_db2.plot(x = "Year", y = "Beef") # graphs match up quite closely!
#merged_db2.plot(x = "Year", y = "Pork")
#merged_db2.plot(x = "Year", y = "Fish")
plt.show()

             Chicken      Beef      Pork      Fish  Acre Value
Chicken     1.000000  0.937847  0.748822  0.821354    0.927135
Beef        0.937847  1.000000  0.744794  0.844502    0.956078
Pork        0.748822  0.744794  1.000000  0.573168    0.599423
Fish        0.821354  0.844502  0.573168  1.000000    0.893144
Acre Value  0.927135  0.956078  0.599423  0.893144    1.000000

In [136]:
# correlation and creating plot for remaining items (Coconut Oil, Palm Oil, Tea, Coffee)

merged_db3 = pd.DataFrame(av_prices_db, columns = ["Coconut-oil", "Palm-oil", "Tea", "Coffee"])
merged_db3.insert(len(merged_db3.columns), "Acre Value", farm_db_avg["Acre Value"])
merged_db3 = merged_db3.apply(lambda x: pd.to_numeric(x, errors='ignore')) # prepares database for pearson correlation
merged_db3.insert(0, "Year", av_prices_db["Year"]) # must be kept as string for plotting, readded later to avoid above
print(merged_db3.corr()) # Stronger correlations overall compared to grains, greatest being coconut oil (at .81)


merged_db3.plot(x = "Year", y = "Acre Value")
#merged_db3.plot(x = "Year", y = "Coconut-oil")
#merged_db3.plot(x = "Year", y = "Palm-oil")
#merged_db3.plot(x = "Year", y = "Tea")
merged_db3.plot(x = "Year", y = "Coffee")
plt.show()

             Coconut-oil  Palm-oil       Tea    Coffee  Acre Value
Coconut-oil     1.000000  0.828846  0.753123  0.843303    0.809974
Palm-oil        0.828846  1.000000  0.702582  0.892515    0.681479
Tea             0.753123  0.702582  1.000000  0.751071    0.746752
Coffee          0.843303  0.892515  0.751071  1.000000    0.713243
Acre Value      0.809974  0.681479  0.746752  0.713243    1.000000

 **Conclusion: There are significant correlations for all foods and the price of land, the strongest of which coming from meats (excluding pork) in the form of Beef (0.956!). The plots also show alignment during significant price increases and the occasional decreases. **